.simple-header {
  background-color: #F5F5F5;
  height: 50px;
  display: flex;
  padding: 5px 100px;
  color: #666666;
  font-size: 14px;
  justify-content: space-between;
}

.simple-header__left-item {
  border-left: 1px solid #F5F5F5;
  padding: 5px 0 5px 15px;
  margin: 15px;
}

.simple-header__left {
  display: flex;
  align-items: center;
}
